h2{
    color: blue;
    text-align: center;
}

div{
    background-color: coral;
    border: 10px solid black;
    border-radius: 15px;
    margin: 10px;

}

p{
    color: darkblue;
    padding: 10px;
}